<% content_for :title, "New Variety" %>

<section class="responsive-stack">
  <div class="page-header">
    <div>
      <p class="eyebrow">Master Setup</p>
      <h1>Create variety</h1>
    </div>
  </div>

  <div class="card">
    <%= render "form", variety: @variety %>
  </div>
</section>
