<% content_for :title, "New Price Unit" %>

<section class="responsive-stack">
  <div class="page-header">
    <div>
      <p class="eyebrow">Master Setup</p>
      <h1>Create price unit</h1>
    </div>
  </div>

  <div class="card">
    <%= render "form", price_unit: @price_unit %>
  </div>
</section>
