<% content_for :title, "New Arrival Unit" %>

<section class="responsive-stack">
  <div class="page-header">
    <div>
      <p class="eyebrow">Master Setup</p>
      <h1>Create arrival unit</h1>
    </div>
  </div>

  <div class="card">
    <%= render "form", arrival_unit: @arrival_unit %>
  </div>
</section>
