<% content_for :title, "New District" %>

<section class="responsive-stack">
  <div class="page-header">
    <div>
      <p class="eyebrow">Master Setup</p>
      <h1>Create district</h1>
    </div>
  </div>

  <div class="card">
    <%= render "form", district: @district %>
  </div>
</section>
